p {
    padding: 0% 0% 10px 0%;
    margin: 0;
    color: #cf0f0f;
}
.link {
    text-decoration: none;
    color: #007BFF;
}
#parrafo {
    color: green;
    font-size: 16px;
}
html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}